{{ define "content" }}
<div class="header text-center">
  <h1 class="display-4">ระบบที่จะช่วยให้ปัญหาหมดไป</h1>
  <p class="lead">บอกลากับปัญหาเดิมๆ ด้วยวิธีการใหม่</p>
</div>
<div class="container">
  <hr class="featurette-divider" />
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        เริ่มต้นใช้งานได้ทันที
        <span class="text-muted">เพียงไม่กี่ขั้นตอน</span>
      </h2>
      <p class="lead">
        เพียงแค่ระบุข้อมูลพื้นฐานของบริษัท, ข้อมูลแพคเกจที่ต้องการจะขาย
        และเพิ่มตัวแทนจำหน่ายเป็นเพื่อน
      </p>
    </div>
    <div class="img-container col-md-5">
      <img class="img-fluid" src="{{ `img/start.jpg` | relURL }}" alt="" />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">
        มองเห็นรายการจองทันที
        <span class="text-muted">เมื่อตัวแทนจำหน่ายจองผ่านระบบ</span>
      </h2>
      <p class="lead">
        พร้อมทั้งสามารถดูสรุปยอดการจองของแต่ละแพคเกจในแต่ละวัน
        เพื่อนำไปใช้ในการจัดเตรียมสิ่งต่างๆ
        สำหรับบริการนักท่องเที่ยวได้อย่างง่ายดาย
      </p>
    </div>
    <div class="img-container col-md-5 order-md-1">
      <img class="img-fluid" src="{{ `img/book.jpg` | relURL }}" alt="" />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        แดชบอร์ดแบบ Realtime
        <span class="text-muted">เพื่อการบริหารแบบมืออาชีพ</span>
      </h2>
      <p class="lead">
        สามารถดูยอดขายของแต่ละแพคเกจในมุมต่างๆ ได้อย่างง่ายดาย
        พร้อมทั้งนำไปใช้ในการปรับกลยุทธ์และการบริการเพื่อยกระดับคุณภาพไปสู่สากล
      </p>
    </div>
    <div class="img-container col-md-5">
      <img class="img-fluid" src="{{ `img/dashboard.jpg` | relURL }}" alt="" />
    </div>
  </div>

  <hr class="featurette-divider" />
</div>
<div class="learn-more text-center">
  <div class="container">
    <h3>ไม่ต้องลงทุนเงินก้อน สามารถใช้งานได้ทันที</h3>
    <a
      class="btn btn-secondary btn-lg px-5 mt-3"
      href="{{ `/pricing/` | relURL }}"
      role="button"
      >ดูข้อเสนอเพิ่มเติม</a
    >
  </div>
</div>
{{ end }}
