{{ define "content" }}
<div class="header text-center">
  <h1 class="display-4">ระบบที่จะช่วยให้ปัญหาหมดไป</h1>
  <p class="lead">ฟรีตลอดไป! ไม่ต้องใช้บัตรเครดิต</p>
</div>
<div class="container">
  <hr class="featurette-divider" />
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        First featurette heading.
        <span class="text-muted">It’ll blow your mind.</span>
      </h2>
      <p class="lead">
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
        porta felis euismod semper. Praesent commodo cursus magna, vel
        scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      </p>
    </div>
    <div class="col-md-5">
      <img class="img-fluid" src="https://via.placeholder.com/400" alt="" />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">
        Oh yeah, it’s that good.
        <span class="text-muted">See for yourself.</span>
      </h2>
      <p class="lead">
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
        porta felis euismod semper. Praesent commodo cursus magna, vel
        scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="img-fluid" src="https://via.placeholder.com/400" alt="" />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        And lastly, this one. <span class="text-muted">Checkmate.</span>
      </h2>
      <p class="lead">
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
        porta felis euismod semper. Praesent commodo cursus magna, vel
        scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      </p>
    </div>
    <div class="col-md-5">
      <img class="img-fluid" src="https://via.placeholder.com/400" alt="" />
    </div>
  </div>

  <hr class="featurette-divider" />
</div>
<div class="learn-more text-center">
  <h3>ไม่ต้องลงทุนเงินก้อน สามารถใช้งานได้ทันที</h3>
  <a
    class="btn btn-secondary btn-lg px-5 mt-3"
    href="{{ `/pricing/` | relURL }}"
    role="button"
    >ดูข้อเสนอเพิ่มเติม</a
  >
</div>
{{ end }}
