{{ define "content" }}
<div class="header text-center">
  <h1 class="display-4">โปรโมชั่นพิเศษ !</h1>
  <p class="lead">ฟรีตลอดไป! ไม่ต้องใช้บัตรเครดิต</p>
</div>
<div class="container">
  <div class="card-deck text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">ฟรี</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          ฿0 <small class="text-muted">/ หัว</small>
        </h1>
        <ul class="list-unstyled">
          <li>ไม่จำกัดจำนวนการจอง</li>
          <li>เพิ่มตัวแทนจำหน่ายได้ 1 ราย</li>
          <li>พิมพ์วอชเชอร์ภาษาไทย</li>
          <li>ระบบจัดการสายรถ</li>
          <li>ดูรายการจองล่าสุด</li>
          <li>ดูรายการสรุปยอดจองในแต่ละวัน</li>
          <li>แดชบอร์ด</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">
          สมัครใช้งานฟรี
        </button>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">พรีเมียม</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">
          ฿5 <small class="text-muted">/ หัว</small>
        </h1>
        <ul class="list-unstyled">
          <li><b>คุณสมบัติทั้งหมดของ Dayone พร้อมกับ</b></li>
          <li>ไม่จำกัดตัวแทนจำหน่าย</li>
          <li>สามารถเพิ่มบัญชีสำหรับพนักงาน</li>
          <li>พิมพ์วอชเชอร์ภาษาอังกฤษ</li>
          <li>ไม่จำกัดพื้นที่เก็บข้อมูล</li>
          <li>บริการฝึกอบรมการใช้งาน</li>
          <li>บริการช่วยเหลือทางโทรศัพท์/อีเมล</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">
           เริ่มต้นใช้งาน
        </button>
      </div>
    </div>
  </div>
</div>
<div class="learn-more text-center mt-5">
  <h3>หากคุณมีข้อสงสัย เรายินดีให้คำปรึกษา</h3>
  <a
    class="btn btn-secondary btn-lg px-5 mt-3"
    href="{{ `/contact-us/` | relURL }}"
    role="button"
    >ติดต่อเรา</a
  >
</div>
{{ end }}
