<footer class="container pt-2 my-md-4 pt-md-3">
  <div class="row">
    <div class="col-12 col-md">
      <h5>Dayone Inc.</h5>
      <ul class="list-unstyled text-small">
        <li class="text-muted">
          91 ซ.ริมคลองชักพระ
          <br />
          ถนนบางขุนนนท์ แขวงบางขุนนนท์
          <br />
          เขตบางกอกน้อย กทม.10700
        </li>
        <li class="text-muted my-2">
          <a href="callto:028813800">
            <span>
              <i class="fas fa-phone mr-2"></i>
              0 2881 3800
            </span>
          </a>
        </li>
        <li class="text-muted my-2">
          <a href="mailto:info@clusterkit.co.th">
            <span>
              <i class="fas fa-envelope mr-2"></i>
              info@clusterkit.co.th
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Dayone</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">ผลิตภัณฑ์</a></li>
        <li><a class="text-muted" href="#">ราคา</a></li>
        <li><a class="text-muted" href="#">ติดต่อเรา</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>บริการสารสนเทศ</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">คู่มือผู้ใช้</a></li>
        <li><a class="text-muted" href="#">คู่มือเริ่มต้นใช้งาน</a></li>
      </ul>
    </div>
    <div class="col-12 border-top mt-3">
      <small class="d-block text-muted my-4">
        Copyright &copy; 2018-2019 Dayone All rights reserved.
      </small>
    </div>
  </div>
</footer>
